.project-card-save-button {
    background: none;
    border: none;
    cursor: pointer;

}

.fa-heart-o {
font-size: 25px;
}

.fa-heart-o::before {
    font-size: 25px;
}
.fa-heart::before {
    font-size: 25px;
}


.fa-heart {
    color: red;
    font-size: 25px
}