.summary {
  background-color: #c8e7f5;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.profile-page-container {
  background-color: #f5f0f0;
  min-height: 100vh;
}

.edit-profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.edit-button-container {
  text-align: right;
}

.bio-paragraph {
  border-top: 1px solid gray;
  padding-top: 10px;
}

.edit {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-top-area {
  margin: 20px;
  padding-top: 20px;
}

@media only screen and (min-width: 900px) {
  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
  }
}

.projects-container__card {
  display: flex;
  margin-bottom: 10px;
  padding-left: 20px;
}
.projects-container__card img {
  height: 100px;
  width: 100px;
}
@media only screen and (min-width: 1100px) {
  .projects-container__card img {
    width: 150px;
  }
}
.projects-container__card div {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}
@media only screen and (min-width: 1100px) {
  .projects-container__card {
    width: 100%;
  }
}

.right-section {
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  margin: 20px;
  border-radius: 10px;
}
@media only screen and (max-width: 900px) {
  .right-section {
    border: none;
    box-shadow: none;
  }
}

.basic-info {
  text-align: left;
}
.basic-info span {
  font-weight: bold;
}

.bio {
  border: 2px solid #ccc;
  margin-left: 30px;
  border-radius: 20px;
  background-color: aliceblue;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media only screen and (max-width: 576px) {
  .bio {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.bio span {
  font-weight: bold;
}
.bio__extra-info {
  padding: 10px;
}
.bio__interests {
  flex: 1 0 0;
}
.bio h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}
.bio p {
  line-height: 1.3;
  text-align: left;
}

.skills-tag-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
}

.groups, .collaborate, .interests {
  text-align: center;
}

.projects {
  margin: 20px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
@media only screen and (max-width: 900px) {
  .projects {
    border: none;
    box-shadow: none;
  }
}

.main-area {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin: 60px 20px;
  padding-top: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: aliceblue;
}
.main-area h1 {
  font-weight: bold;
}

.projects h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.main-area__projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex-grow: 0 !important;
  margin-top: 20px;
}

.profile-meetup-card {
  margin: 0 auto 20px auto;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.conversation-img-container {
  height: 75px;
  width: 75px;
}

.conversation-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.conversation-img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.conversation-card {
  border: none;
}

/*# sourceMappingURL=profile.css.map */
